*.pyc
db.sqlite3
node_modules/
task_data/
logs/
/static/
taskd/
.DS_Store
tasks/*
inthe_am/taskmanager/static/app.css
inthe_am/taskmanager/static/task_manager.js
inthe_am/taskmanager/static/templates.js
