*.pyc
db.sqlite3
node_modules/
task_data/
logs/
static/
ember/bower_components/
ember/node_modules/
ember/tmp/
ui/node_modules/
dist/
tmp/
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log
taskd/
local/
env/
.cache/
.DS_Store
tasks/*
assets/icon.xcf.tmp.png
inthe_am/taskmanager/static/app.css
inthe_am/taskmanager/static/colorschemes/*.css
inthe_am/taskmanager/static/sources/task_manager.js
inthe_am/taskmanager/static/sources/templates.js
inthe_am/taskmanager/static/compiled.min.js
inthe_am/taskmanager/static/compiled.min.map
inthe_am/taskmanager/static/compiled.dev.js
bin/*
lib/*
src/*
include/*
etc/*
.Python
.vagrant/*
bin
bin/*
environment_variables.sh
ghostdriver.log
docs/_build
pip-selfcheck.json
tags
messages/*
local/*
share/*
docker/data/
.idea/
.private.env
.mypy_cache
taskd_services/http/env
test_taskstore/*
docker/nginx/secrets/*
docker/taskd/secrets/*
package-lock.json
ui/supervisord.pid
