*.pyc
db.sqlite3
node_modules/
task_data/
logs/
/static/
taskd/
.DS_Store
tasks/*
assets/icon.xcf.tmp.png
inthe_am/taskmanager/static/app.css
inthe_am/taskmanager/static/colorschemes/*.css
inthe_am/taskmanager/static/sources/task_manager.js
inthe_am/taskmanager/static/sources/templates.js
inthe_am/taskmanager/static/compiled.min.js
inthe_am/taskmanager/static/compiled.min.map
inthe_am/taskmanager/static/compiled.dev.js
bin/*
lib/*
src/*
include/*
etc/*
.Python
.vagrant/*
bin
bin/*
environment_variables.sh
ghostdriver.log
docs/_build
