alabaster==0.7.7
amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
Babel==2.2.0
backports.statistics==0.1.0
behave==1.2.5
billiard==3.3.0.23
boto==2.34.0
celery==3.1.25
certifi==2018.4.16
chardet==3.0.4
click==6.2
contextlib2==0.5.1
decorator==4.0.6
Django==1.8.19
-e git+https://github.com/coddingtonbear/django-behave.git@79028d59f89c7a12255120d266f5c844656a6805#egg=django_behave
django-cors-headers==1.1.0
django-extensions==1.6.1
django-filter==0.13.0
django-mailbox==4.4.5
django-rest-framework==0.1.0
-e git+https://github.com/niwinz/django-sse.git@1351b1387250c412e1adfc33aef0bc9d888d5bbf#egg=django_sse
django-storages==1.1.8
django-tastypie==0.13.3
django-twilio==0.4
djangorestframework==3.6.4
docutils==0.12
dogpile.cache==0.5.7
dogpile.core==0.4.1
dropbox==1.6
dulwich==0.19.2
enum34==1.1.2
funcsigs==0.4
gevent==1.3.1
greenlet==0.4.13
gunicorn==19.4.5
httplib2==0.11.3
icalendar==3.9.0
idna==2.6
ipdb==0.8
ipython==4.0.2
ipython-genutils==0.1.0
Jinja2==2.8
jira==0.47
jsonfield==1.0.3
keyring==7.3
kitchen==1.2.4
kombu==3.0.37
lockfile==0.12.2
lxml==3.4.4
Markdown==2.6.6
MarkupSafe==0.23
mimeparse==0.1.3
mock==1.3.0
newrelic==2.106.1.88
oauthlib==2.1.0
offtrac==0.1.0
ordereddict==1.1
packaging==16.8
parse==1.6.6
parse-type==0.3.4
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.5
progressbar2==3.20.0
psycogreen==1.0
psycopg2==2.6.1
ptyprocess==0.5
pycurl==7.21.5
Pygments==2.1
PyJWT==1.5.2
pyparsing==2.2.0
python-bugzilla==1.2.2
python-dateutil==2.4.2
python-memcached==1.53
python-mimeparse==0.1.4
python-openid==2.2.5
python-social-auth==0.2.21
python-utils==2.1.0
pytz==2015.7
pyxdg==0.25
raven==5.10.0
redis==2.10.5
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.5.1
selenium==3.4.3
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
social-auth-app-django==3.1.0
social-auth-core==3.1.0
Sphinx==1.3.4
sphinx-rtd-theme==0.1.9
splinter==0.7.6
sse==1.2
subprocess32==3.2.5
-e git+https://github.com/latestrevision/taskw@8e65254fa26f3398faf0f245e6b5b0fcbd5b312d#egg=taskw
tlslite==0.4.9
traitlets==4.1.0
trello==0.9.1
Twiggy==0.4.7
twilio==5.2.0
urllib3==1.22
uWSGI==2.0.12
webcolors==1.4
x256==0.0.3
