alabaster==0.7.7
amqp==1.4.9
anyjson==0.3.3
Babel==2.2.0
backports.statistics==0.1.0
behave==1.2.5
billiard==3.3.0.22
boto==2.34.0
-e git+https://github.com/coddingtonbear/bugwarrior.git@c614f6ba99e380b097c12235d6b1dc7c3b980636#egg=bugwarrior-origin_inthe.am
celery==3.1.19
click==6.2
contextlib2==0.5.1
decorator==4.0.6
Django==1.8.12
-e git+https://github.com/coddingtonbear/django-behave.git@79028d59f89c7a12255120d266f5c844656a6805#egg=django_behave-master
django-cors-headers==1.1.0
django-extensions==1.6.1
django-filter==0.13.0
django-mailbox==4.4.5
-e git+https://github.com/niwinz/django-sse.git@1351b1387250c412e1adfc33aef0bc9d888d5bbf#egg=django-sse
django-storages==1.1.8
django-tastypie==0.13.3
django-twilio==0.4
djangorestframework==3.3.3
docutils==0.12
dogpile.cache==0.5.7
dogpile.core==0.4.1
dropbox==1.6
dulwich==0.9.4
enum34==1.1.2
funcsigs==0.4
gevent==1.0.2
greenlet==0.4.9
gunicorn==19.4.5
httplib2==0.9.2
icalendar==3.9.0
ipdb==0.8
ipython==4.0.2
ipython-genutils==0.1.0
Jinja2==2.8
jira==0.47
jsonfield==1.0.3
keyring==7.3
kombu==3.0.33
lockfile==0.12.2
lxml==3.4.4
Markdown==2.6.6
MarkupSafe==0.23
mimeparse==0.1.3
mock==1.3.0
newrelic==2.54.0.41
oauthlib==0.7.2
offtrac==0.1.0
ordereddict==1.1
parse==1.6.6
parse-type==0.3.4
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.5
psycopg2==2.6.1
ptyprocess==0.5
pycurl==7.21.5
Pygments==2.1
python-bugzilla==1.2.2
python-dateutil==2.4.2
python-memcached==1.53
python-mimeparse==0.1.4
python-openid==2.2.5
-e git+https://github.com/latestrevision/python-social-auth.git@f435f73a8e296d19531b3a240bffae96ab79903b#egg=python_social_auth-origin_add_dropbox_oauth2
pytz==2015.7
pyxdg==0.25
raven==5.10.0
redis==2.10.5
requests==2.2.0
requests-oauthlib==0.6.0
requests-toolbelt==0.5.1
selenium==2.48.0
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.3.4
sphinx-rtd-theme==0.1.9
splinter==0.7.3
sse==1.2
subprocess32==3.2.5
-e git+https://github.com/latestrevision/taskw@8ebfae0243044b231d91f482d8956cd5df0952eb#egg=taskw-origin_inthe_am
tlslite==0.4.9
traitlets==4.1.0
trello==0.9.1
Twiggy==0.4.7
twilio==5.2.0
webcolors==1.4
wheel==0.26.0
x256==0.0.3
