alabaster==0.7.7
amqp==2.5.1
anyjson==0.3.3
appdirs==1.4.3
Babel==2.2.0
backcall==0.1.0
backports.statistics==0.1.0
behave==1.2.5
billiard==3.6.1.0
boto==2.34.0
celery==4.3.0
certifi==2018.4.16
chardet==3.0.4
click==6.2
contextlib2==0.6.0
decorator==4.0.6
defusedxml==0.6.0
Django==1.11.24
-e git+https://github.com/coddingtonbear/django-behave.git@79028d59f89c7a12255120d266f5c844656a6805#egg=django_behave
django-cors-headers==3.1.0
django-extensions==1.6.1
django-filter==0.13.0
django-mailbox==4.8.0
django-phonenumber-field==4.0.0
django-rest-framework==0.1.0
-e git+https://github.com/niwinz/django-sse.git@1351b1387250c412e1adfc33aef0bc9d888d5bbf#egg=django_sse
django-storages==1.7.2
django-tastypie==0.13.3
django-twilio==0.9.0
djangorestframework==3.10.3
docutils==0.12
dogpile.cache==0.5.7
dogpile.core==0.4.1
dropbox==1.6
dulwich==0.19.2
funcsigs==0.4
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.4.5
httplib2==0.11.3
icalendar==3.9.0
idna==2.6
importlib-metadata==0.23
ipdb==0.8
ipython==7.8.0
ipython-genutils==0.1.0
jedi==0.15.1
Jinja2==2.8
jira==0.47
jsonfield==1.0.3
keyring==7.3
kitchen==1.2.4
kombu==4.6.4
lockfile==0.12.2
lxml==4.4.1
Markdown==2.6.6
MarkupSafe==0.23
mimeparse==0.1.3
mock==1.3.0
more-itertools==7.2.0
newrelic==2.106.1.88
oauthlib==2.1.0
offtrac==0.1.0
ordereddict==1.1
packaging==16.8
parse==1.6.6
parse-type==0.3.4
parso==0.5.1
path.py==8.1.2
pbr==1.8.1
pexpect==4.7.0
pickleshare==0.5
pip==20.1
progressbar2==3.20.0
prompt-toolkit==2.0.9
psycogreen==1.0
psycopg2-binary==2.8.5
ptvsd==4.3.2
ptyprocess==0.5
pycurl==7.21.5
Pygments==2.1
PyJWT==1.5.2
pyparsing==2.2.0
PySocks==1.7.0
python-bugzilla==1.2.2
python-dateutil==2.4.2
python-memcached==1.59
python-mimeparse==0.1.4
python-openid==2.2.5
python-social-auth==0.2.21
python-utils==2.1.0
python3-openid==3.1.0
pytz==2015.7
pyxdg==0.25
raven==6.10.0
redis==3.3.8
requests==2.18.4
requests-oauthlib==0.8.0
requests-toolbelt==0.5.1
selenium==3.4.3
setuptools==41.2.0
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
social-auth-app-django==3.1.0
social-auth-core==3.1.0
Sphinx==1.3.4
sphinx-rtd-theme==0.1.9
splinter==0.7.6
sse==1.2
-e git+https://github.com/latestrevision/taskw@inthe_am#egg=taskw
tlslite==0.4.9
traitlets==4.3.2
-e git+https://github.com/coddingtonbear/trello-py.git@f24eea1df98cecbc6bb4f8265e1fb598a69dcf62#egg=trello
Twiggy==0.4.7
twilio==6.39.0
urllib3==1.22
uWSGI==2.0.18
vine==1.3.0
wcwidth==0.1.7
webcolors==1.4
x256==0.0.3
zipp==0.6.0
typing-extensions==3.7.4.2
