dropbox==1.6.0
django==1.6.1
-e git+https://github.com/latestrevision/python-social-auth.git@add_dropbox_oauth2#egg=python-social-auth
-e git+https://github.com/latestrevision/taskw@inthe_am#egg=taskw
south==0.8.4
django-tastypie==0.11.0
pytz>=2013.9
gunicorn>=18.0.
django-mailbox>=django-mailbox
python-memcached==1.53
webcolors==1.4
django-twilio==0.4
dulwich==0.9.4
raven>=4.0.4
mock>=1.0.1
