$FG_MAIN: #202020;
$BG_MAIN: #F0F0F0;
$BG_LEFT: $FG_MAIN;
$FG_LEFT: $BG_MAIN;

body {
  background-color: $BG_MAIN;
  color: $FG_MAIN;
}
a {
  text-decoration: none;
  color: #1b98f8;
}
i.fa:before {
  padding-right: 2px;
}
span.uuid {
  text-transform: uppercase;
  font-family: monospace;
}
span.project {
  text-transform: uppercase;
  font-size: .83em;
  font-weight: 700;
}
/* LAYOUT CSS */
#layout {
  padding-left:500px; /* "left col (nav + list)" width */
  position: relative;
}

.standalone {
  margin-left: -310px;
  padding-top: 20px;
}


#nav, #list {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
}
#nav {
  margin-left:-500px; /* "left col (nav + list)" width */
  width:150px;
  background: #000000;
  text-align: center;
  padding: 2em 0;
}

#list {
  margin-left: -350px;
  width:350px;
  border-right: 1px solid #ddd;
  color: #BBBBBB;
  background-color: $BG_LEFT;
}

/* HELPER CLASSES */
.primary-button,
.secondary-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.primary-button {
  color: $FG_LEFT;
  background: #1b98f8;
  margin: 1em 0;
}
.secondary-button {
  background: #fff;
  border: 1px solid #ddd;
  color: #666;
  padding: 0.5em 2em;
  font-size: 80%;
}

.task-count {
  color: rgb(75, 113, 151);
}

/* Vertical Navigation Styles */
#nav .pure-menu {
  background: transparent;
  border: none;
  text-align: left;
}
#nav .pure-menu a:hover,
#nav .pure-menu a:focus {
  background: rgb(55, 60, 90);
}
#nav .pure-menu a {
  color: $FG_LEFT;
  margin-left: 0.5em;
}
#nav .pure-menu-heading {
  border-bottom: none;
  font-size:110%;
  color: rgb(75, 113, 151);
}

#nav .nav-menu-button {
  display: none;
}

.task {
  cursor: pointer;
  padding: 0.9em 1em;
  border-bottom: 1px solid #ddd;
  border-left: 6px solid transparent;

  i.task-icon {
    font-size: 60px;
    width: 55px;
    margin-right: 5px;
  }
  .completed .task-icon {
  }
  .status {
    text-transform: uppercase;
    color: 999;
    margin: 0;
  }
  .description {
    margin: 0;
  }
}

.task-content {
  .task-content-body, .task-content-header, .task-content-footer {
    padding: 1em 2em;
  }
  .task-content-header {
    border-bottom: 1px solid #ddd;
  }
  .depends_tickets {
    li.pending {
    }
    li.completed {
      text-decoration: line-through;
    }
  }
  .controls {
    margin-top: 2em;
    text-align: right;
    
    .secondary-button {
      margin-bottom: 0.3em;
    }
  }
}

@media (max-width: 867px) {
  #list,
  #main {
    width: 100%;
  }
  #layout {
    padding-left: -150px;
  }
  #list {
    height: 33%;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }
  #main {
    position: fixed;
    top: 33%;
    right: 0;
    bottom: 0;
    left: 150px;
    overflow: auto;
    width: auto; /* so that it's not 100% */
  }
}

@media (max-width: 480px) {
  #layout, #nav, #list, #main {
    position: static;
    margin: 0;
    padding: 0;
  }
  #nav {
    width: 100%;
    height: 40px;
    position: relative;
  }
  #nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
  }
  #nav.active {
    height: 80%;
  }
  .nav-inner {
    display: none;
  }
  #nav.active .nav-inner {
    display: block;
  }
}

