$MAIN: #72A5CF;

$BLACK: darken($MAIN, 60%);
$WHITE: lighten($MAIN, 35%);

$LEFT_BACKGROUND: darken($MAIN, 50%);
$LEFT_FOREGROUND: lighten($MAIN, 40%);
$LEFT_BACKGROUND_ACTIVE: darken($MAIN, 40%);
$LEFT_FOREGROUND_ACTIVE: $LEFT_FOREGROUND;
$CENTER_FOREGROUND: lighten($MAIN, 80%);
$CENTER_BACKGROUND: $BLACK; 
$CENTER_HOVER: lighten($CENTER_BACKGROUND, 3%);
$CENTER_ACTIVE: lighten($CENTER_BACKGROUND, 6%);
$RIGHT_BACKGROUND: $WHITE;
$RIGHT_FOREGROUND: $BLACK;

$BORDER_COLOR: darken($MAIN, 47%);

body {
  background-color: $RIGHT_BACKGROUND;
  color: $RIGHT_FOREGROUND;
}
a {
  text-decoration: none;
  color: #1b98f8;
}
i.fa:before {
  padding-right: 2px;
  display: inline-block;
  width: 18px;
}
span.uuid {
  text-transform: uppercase;
  font-family: monospace;
}
span.project {
  text-transform: uppercase;
  font-size: .83em;
  font-weight: 700;
}
/* LAYOUT CSS */
#layout {
  padding-left:500px; /* "left col (nav + list)" width */
  position: relative;
}

.standalone {
  margin-left: -310px;
  padding-top: 20px;
}


#nav, #list {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
}
#nav {
  margin-left:-500px; /* "left col (nav + list)" width */
  width:150px;
  background: $LEFT_BACKGROUND;
  text-align: center;
  padding: 2em 0;
}

#list {
  margin-left: -350px;
  width:350px;
  border-right: 1px solid $BORDER_COLOR;
  border-left: 1px solid $BORDER_COLOR;
  color: #BBBBBB;
  background-color: $CENTER_BACKGROUND;
}

/* HELPER CLASSES */
.primary-button,
.secondary-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.primary-button {
  color: $LEFT_FOREGROUND;
  background: #1b98f8;
  margin: 1em 0;
}
.secondary-button {
  background: #fff;
  border: 1px solid $BORDER_COLOR;
  color: #666;
  padding: 0.5em 2em;
  font-size: 80%;
}

.task-count {
  color: rgb(75, 113, 151);
}

/* Vertical Navigation Styles */
#nav .pure-menu {
  background: transparent;
  border: none;
  text-align: left;
}
#nav .pure-menu {
  a {
    color: $LEFT_FOREGROUND;
    margin-left: 0.5em;

    &.active {
      background-color: $LEFT_BACKGROUND_ACTIVE;
      color: $LEFT_FOREGROUND_ACTIVE;
    }
    &:hover {
      background-color: $LEFT_BACKGROUND_ACTIVE;
      color: $LEFT_FOREGROUND_ACTIVE;
    }
  }
}
#nav .pure-menu a.post-icon {
  margin-left: 5px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  display: inline;
}
#nav .pure-menu a.post-icon:hover {
  background-color: inherit;
}
#nav .pure-menu-heading {
  border-bottom: none;
  font-size:110%;
  color: rgb(75, 113, 151);
}

#nav .nav-menu-button {
  display: none;
}

.task-list-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.task.active {
  background-color: $CENTER_ACTIVE;
}

.task {
  cursor: pointer;
  padding: 0.9em 1em;
  border-bottom: 1px solid $BORDER_COLOR;
  border-left: 6px solid transparent;

  i.task-icon {
    font-size: 60px;
    width: 55px;
    margin-right: 5px;
  }
  .completed .task-icon {
  }
  .status {
    text-transform: uppercase;
    color: 999;
    margin: 0;
  }
  .description {
    margin: 0;
  }
  &:hover {
    background-color: $CENTER_HOVER;
  }
}

.task-content {
  .task-content-body, .task-content-header, .task-content-footer {
    padding: 1em 2em;
  }
  .task-content-header {
    border-bottom: 1px solid $BORDER_COLOR;
  }
  .depends_tickets {
    li.pending {
    }
    li.completed {
      text-decoration: line-through;
    }
  }
  .controls {
    margin-top: 2em;
    text-align: right;
    
    .secondary-button {
      margin-bottom: 0.3em;
    }
  }
}

@media (max-width: 867px) {
  #list,
  #main {
    width: 100%;
  }
  #layout {
    padding-left: -150px;
  }
  #list {
    height: 33%;
    border-right: 0;
    border-bottom: 1px solid $BORDER_COLOR;
  }
  #main {
    position: fixed;
    top: 33%;
    right: 0;
    bottom: 0;
    left: 150px;
    overflow: auto;
    width: auto; /* so that it's not 100% */
  }
}

@media (max-width: 480px) {
  #layout, #nav, #list, #main {
    position: static;
    margin: 0;
    padding: 0;
  }
  #nav {
    width: 100%;
    height: 40px;
    position: relative;
  }
  #nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
  }
  #nav.active {
    height: 80%;
  }
  .nav-inner {
    display: none;
  }
  #nav.active .nav-inner {
    display: block;
  }
}

