<div class="row">
    <div class="medium-12 columns">
        <h2>Add Annotation</h2>
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        {{textarea name="annotation"}}
    </div>
</div>
<div class="row">
    <div class="medium-12 columns">
        <button class="secondary-button" {{action "save"}}>
            <i class="fa fa-save">Save</i>
        </button>
    </div>
</div>
