@import "settings";
@import "foundation";

html, body {
  height: 100%;
  overflow: hidden;

  >.ember-view {
    height: 100%;
    >.ember-view {
      height: 100%;
    }

    background: rgba(224,224,224,1);
    background: -moz-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(224,224,224,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,224,224,1)), color-stop(20%, rgba(255,255,255,1)), color-stop(80%, rgba(255,255,255,1)), color-stop(100%, rgba(224,224,224,1)));
    background: -webkit-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(224,224,224,1) 100%);
    background: -o-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(224,224,224,1) 100%);
    background: -ms-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(224,224,224,1) 100%);
    background: linear-gradient(to right, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(224,224,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0', GradientType=1 );
  }
}

p.input-note {
  font-style: italic;
  font-size: 0.75rem;
  color: #888888;
}

button#show-task-list {
  display: none;
}

textarea {
  height: 165px;
}

i.fa {
  font-family: FontAwesome,"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

i.fa:before {
  display: inline-block;
  width: 18px;
}

ul#features {
  span.headline {
    font-weight: 700;
    font-size: 1.1em;
  }
  li {
    margin-bottom: 10px;
  }
}

label[for] {
  display: inline-block;
  margin-left: 0.44rem;
  margin-right: 0.44rem;
  margin-bottom: 0;
  vertical-align: baseline;
}

.top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;

  button {
    margin-bottom: 0px;
  }
  li.mobile-only {
    display: none;
  }
}

#footer {
  color: #888888;
  font-size: 0.75rem;
  text-align: center;
  padding-bottom: 90px;
  margin-top: 50px;
}

div.row {
  -webkit-overflow-scrolling: touch;

  p {
    font-size: 0.95rem;
    line-height: 1.25rem;
  }
  li {
    font-size: 0.95rem;
    line-height: 1.25rem;
  }
  max-width: inherit;

  &.full-width {
    width: 100%;
    max-width: inherit;
    height: 100%;
    overflow: hidden;
    padding-top: 45px;
  }
  &.standalone {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: inherit;

    div.standalone-content {
      max-width: 950px;
      margin: 0 auto;
      padding: 45px 25px 0px 25px;
    }

    ul, ol {
      margin-left: 50px;
    }

    &.add-to-home-screen {
      text-align: center;
    }
  }
}

#list, #mobile-list {
  width: 25%;
  min-width: 350px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  float: left;

  a {
    color: inherit;
  }

  .task {
    h5 {
      color: inherit;
      text-transform: uppercase;
      font-size: 0.75rem;
      line-height: 0.8rem;
      margin: 0;
    }

    p {
      margin-bottom: 0px;
      word-wrap: break-word;
    }

    p.tags {
      font-size: 0.8rem;
    }

    .task-item {
      padding: 0.9em 1.0em;
      min-height: 45px;

      .task-list-icon {
        display: inline-block;
        width: 45px;
        vertical-align: top;

        i.task-icon {
          font-size: 3rem;
          width: 45px;
          margin-right: 5px;
        }
      }
      .task-list-item {
        display: inline-block;
        width: 220px;
        padding: 5px 0 0 0;
      }
    }
  }
}

#mobile-list {
  width: 100%;
  min-width: inherit;

  .task {
    .task-item {
      .task-list-item {
        width: auto;
      }
    }
  }
}

#task-details {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding-bottom: 45px;

  h1 {
    font-size: 1.75rem;
  }
  &>div {
    padding-left: 15px;
    padding-right: 25px;
  }
  div.tags {
    margin-bottom: 20px;
  }
  ul.annotation_list {
    font-size: 0.876rem;
    word-wrap: break-word;
    word-break: break-all;

    span.date {
      font-weight: 700;
    }
    li {
      margin-bottom: 10px;
    }
    span.annotation_tools {
      float: left;
    }
  }
  #task-action-bar {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 25px;

    #task-actions {
      list-style: none;
      margin:0;
      padding:0;
      display: table;
      width: 100%;

      li {
        background-color: #C0C0C0;
        border-right: 1px solid #A0A0A0;
        display: table-cell;
        text-align: center;
        float: none;

        &:hover {
          background-color: #B0B0B0;

          a {
            color: #F0F0F0;
          }
        }

        a {
          color: #303030;
          font-size: 0.8rem;
          line-height: 2rem;
        }
      }
    }
  }
  #task-header {

    &>div {
      margin-left: 15px;
    }
  }

  table.details {
    width: 100%;

    th {
      text-align: left;
    }
    td {
      p {
        font-size: 14px;
        margin-bottom: 0.75rem;
      }
    }
  }
  div.task-content-body {
    margin-right: inherit;

    ul.depends_tickets {
      li.completed, li.deleted {
        text-decoration: line-through;
      }
    }
  }
}

div.reveal-modal {
  div.row {
    margin-top: 0;
  }
}

div.growl-message {
  a {
    color: inherit;
    text-decoration: underline;
    font-style: italic;
  }
}

table.log {
  width: 100%;

  tr.error {
    td.message {
      color: #A02020;
    }
  }
  tr.info {
    td.message {
      font-style: italic;
    }
  }
}

span {
  &.project {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
  }
}

div.block.error {
  background-color: #FFEEEE;
  border: 5px solid #FF0000;
  border-radius: 10px;
  padding: 25px 25px 15px 25px;
  margin-bottom: 10px;
}
div.block.warning {
  background-color: #FFFFAA;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

  p:last-child {
    margin-bottom: 0px;
  }
}

code {
  color: #111111;
  font-size: 0.9em;
  line-height: 0.9em;
}
code.para {
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;
}

div.alert-box.error {
  background-color: #AA0000;
  border-color: #AA0000;
}

@media screen and (max-width: 1000px) {
  div.details_table {
    width: 100%;
  }
  div.annotations_list {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  // Hide text content of buttons
  html, body {
    overflow: hidden;
  }
  .row .row {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .column, .columns {
    padding-right: 0px;
    padding-left: 0px;
  }
  #mobile-list {
    .task {
      .task-item {
        position: relative;

        div.task-list-icon {
          position: absolute;
          top: 14.4px;
          left: 16px;
        }
        div.task-list-item {
          width: auto;
          margin-left: 50px;
        }
      }
    }
  }
  // Make buttons a little less padding-filled
  button {
    padding: 10px;
  }
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    margin: 0 0 0.25rem 0;
  }
  div.row.standalone {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 0px 5px 50px 5px;
  }

  // Hide task list by default
  #list {
    display: none;
  }
  #task-details {
    margin-left: 0px;
    padding-left: 0px;

    &>div{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  td {
    word-break: break-all;
  }
  pre {
    white-space: pre-line;
    word-break: break-all;
  }
  .reveal-modal {
    width: 100%;
    left: 0px;
    top: 50px;
    margin: 0px;
    padding: 5px;
  }
  nav {
    .top-bar-section {
      li.desktop-only {
        display: none;
      }
      li.mobile-only {
        display: list-item;
      }
    }
    button#show-task-list {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 700px) {
  nav, #task-details {
    i.fa {
      font-size: 0px;
      &::before {
        font-size: 15px;
      }
    }
    i.fa.fa-tag {
      font-size: 15px;
      &::before {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  nav {
    .top-bar-section {
      a {
        padding: 0px 5px !important;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .top-bar .name h1 {
    font-size: 0.7rem;
  }
  nav {
    .top-bar-section {
      li.non-essential {
        display: none;
      }
    }
  }
}
