<div class="row standalone homepage">
    <div class="standalone-content">
        <h1>Local Installation</h1>
        <a href="" class="button radius" {{action "login"}}>
            Login
        </a>
        <p>
            Note: If you would like to use a different authentication backend,
            please consult 
            <a href="https://docs.djangoproject.com/en/1.4/topics/auth/#authentication-backends">
                Django's Authentication Backends documentation
            </a>, and, if necessary, 
            <a href="https://github.com/coddingtonbear/inthe.am/blob/development/ember_modules/controllers/application.js#L5">
                change the default URL used for authentication
            </a>. Note that Inthe.AM by default uses 
            <a href="https://github.com/omab/python-social-auth">Python Social Auth</a>'s Google backend.
        </p>
    </div>
</div>
