<div class="row standalone add-to-home-screen">
    <div class="standalone-content">
        <h1>Install Inthe.AM<br />on your device</h1>
        <p>
            For the best experience, install Inthe.AM
            on your device by adding this to your home screen.
        </p>
        <p class="input-note">
            Tap the icon below to "Add to Home Screen".
        </p>
        <p>
            <i class="fa fa-arrow-down"></i>
        </p>
    </div>
</div>
