<div class='chardin-addenda'>
    <p>
        alt+&uarr;  &mdash;  Next Task
    </p>
    <p>
        alt+&darr;  &mdash;  Previous Task
    </p>
    <p>
        alt+&larr;  &mdash;  Task List
    </p>
</div>
