<div class="row standalone">
    <div class="standalone-content">
        <div class='loading'>
            <img src='/static/spinner.gif' />
            <p>
                Downloading Tasks&hellip;
            </p>
        </div>
    </div>
</div>
