<div class="pure-u-1 standalone">
    <div class="standalone-content">
        <p>
            Unfortunately, we weren't able to find any taskwarrior folders in your
            dropbox account.
        </p>
        {{partial "footer"}}
    </div>
</div>
