<div class="row standalone">
    <h1>Inthe.AM</h1>
    <div class="medium-12">
        <p>
            Access Taskwarrior anywhere.
        </p>
    </div>
    <div class="medium-12">
        <p>
            <img {{bind-attr src=urls.web_ui}} />
        </p>
    </div>
    <div class="medium-12">
        <p>
            Taskwarrior is a lovely tool for managing your tasks, but
            sometimes you need to add tasks when you aren't nearby
            your computer.
        </p>
        <p> 
            <strong>Inthe.AM isn't meant to replace taskwarrior</strong>, 
            but it does provide you with a modern web interface that you can use
            to manage your tasks from wherever you are.
        </p>
        <p>
            Whether you're accessing your tasks on your phone or at home,
            you can see, change, or add tasks to your task list.  You
            can even add tasks using a text message, or by using a
            Inthe.AM's REST API.
        </p>
    </div>
</div>
