<div class="row standalone">
    <h1>Inthe.AM</h1>
    <div class="medium-12">
        <p>
            Sometimes you need to access your 
            <a href="http://taskwarrior.org/">taskwarrior</a>
            tasks when you're not
            nearby your keyboard; that is where Inthe.AM can help.
            <a href="#" {{action "login"}}>
                Log In with Google to get started.
            </a>
        </p>
    </div>
    <div class="medium-12">
        <p>
            <img {{bind-attr src=urls.web_ui}} />
        </p>
    </div>
    <div class="medium-12">
        <p>
            Inthe.AM provides you with a modern web interface that you can
            use for accessing your taskwarrior tasks from any browser
            connected to the internet &mdash; even your phone.
        </p>
        <h2>Features</h2>
        <ul>
            <li>
                An automatically-configured synchronization server that
                you can set up your local taskwarrior client to synchronize
                with (requires Taskwarrior 2.3 or later).
            </li>
            <li>
                A modern web interface that you can use for accessing
                your tasks from either a desktop browser or your phone
                &mdash; there's even a web-app mode usable for those
                of you with IOS devices.
            </li>
            <li>
                Add tasks by sending an SMS message using Inthe.AM's SMS
                integration.  Quickly adding a task to your task list
                is as easy as sending an SMS message.
            </li>
            <li>
                Display your latest task entry on your Pebble using
                Inthe.AM's Pebble Cards integration.
            </li>
            <li>
                Wire-up <strong>your</strong> applications to create,
                modify, or complete your tasks programmatically using
                Inthe.AM's REST API.
            </li>
            <li>
                Display your tasks using any of the built-in taskwarrior
                color themes so you don't need to memorize two different
                colorschemes.
            </li>
        </ul>
        <h2>Open Source</h2>
        <p>
            Inthe.AM is an open-source application relying upon open-source
            libraries.  The features you want are just a pull-request
            or a <a href="https://github.com/coddingtonbear/inthe.am/issues?page=1&state=open">bug-report</a> away!
        </p>
    </div>
    {{partial "footer"}}
</div>
