<div class="row standalone">
    <h2>API Key</h2>

    <p>
        Your Taskwarrior tasks are accessible via a RESTful API; you can
        use this to query, create, complete, or change
        tasks in your task list.
    </p>

    <table class="pure-table pure-table-horizontal">
        <tr>
            <th>
                API Key
            </th>
            <td>
                {{ controllers.application.user.username }}:{{ controllers.application.user.api_key }}
            </td>
        </tr>
    </table>

    <p>
        For details regarding how to access and use this API, please consult the
        {{#link-to "apiDocs"}}API Documentation{{/link-to}}.
    </p>


    <h2>Pebble Cards Access</h2>

    <p> 
        <a href="http://keanulee.com/pebblecards/">Pebble Cards</a> is a
        <a href="https://getpebble.com/">Pebble</a> application
        allowing one quick access to information like
        one's upcoming appointments, the local weather, and when the
        sun will set today.  Inthe.AM provides a URL you can use with
        Pebble Cards for displaying your current highest priority task.
    </p>

    <table class="pure-table pure-table-horizontal">
        <tr>
            <th>
                Pebble Cards URL
            </th>
            <td>
                https://inthe.am{{ controllers.application.urls.pebble_card_url }}
            </td>
        </tr>
    </table>

    {{partial "footer"}}
</div>
