<div class="pure-u-1 standalone">
    <h2>Custom <span class="code">.taskrc</span></h2>
    {{textarea name="custom_taskrc" value=controllers.application.user.taskrc_extras cols="80" rows="10" }}
    <p class="help">
        Only configuration values relating to urgency will have an effect,
        but entering your entire local <span class="code">.taskrc</span>
        is both safe and encouraged.
    </p>
    <input type="submit" value="Save" {{action "save_taskrc" }} />
</div>
