<div id="new_annotation_form" class="reveal-modal" data-reveal>
    <div class="row">
        <div class="medium-12 columns">
            <h2>Add Annotation</h2>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            {{textarea id="new_annotation_body"}}
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <button class="secondary-button" {{action "save"}}>
                <i class="fa fa-save">Save</i>
            </button>
        </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
</div>
