<div class="row standalone">
    <h2>We're really sorry about this&hellip;</h2>
    <p>
        An error was encountered while trying to service your request.
    </p>
    <p>
        In a moment, your page should refresh -- but if you continually
        see this message, please file an issue on
        <a href="https://github.com/coddingtonbear/inthe.am/issues">Inthe.AM's Github Project</a>
        with a little information about what you were doing when this
        message appeared.
    </p>
    {{partial "footer"}}
</div>
