<div id="footer">
    <hr />
    Artisanally crafted by <a href="http://github.com/coddingtonbear">Adam Coddington</a> and others.
    <a href="http://github.com/coddingtonbear/inthe.am">Contribute to this project on Github</a>.
</div>
