<div id="footer">
    <hr />
    Artisanally crafted by <a href="http://github.com/latestrevision">Adam Coddington</a> and others.  <a href="http://github.com/latestrevision/inthe.am">Contribute to this project on Github</a>.
</div>
