<div class="row standalone">
    <h2>Let's get started</h2>
    <p>
        <strong>Inthe.AM is designed to augment Taskwarrior, not to
        replace it</strong>, so we recommend that you
        {{#link-to "synchronization"}}configure Taskwarrior to
        synchronize with Inthe.AM{{/link-to}} or 
        {{#link-to "configure"}}configure Inthe.AM to synchronize
        with a taskd server you are already using{{/link-to}}.
        But, you can get started by creating a task right now by
        clicking the <i class="fa fa-pencil-square-o">New</i> icon above.
    </p>
    <p>
        After you've synchronized or created some tasks, you can see
        them in your {{#link-to "tasks"}}task list{{/link-to}}.
    </p>
    {{partial "footer"}}
</div>
