<div class="pure-u-1 standalone">
    <h2>Let's get started</h2>
    <p>
        You can 
        {{#link-to "configure"}}follow the instructions{{/link-to}}
        for syncing your local
        taskwarrior client with inthe.am, or you can
        add tasks directly.
    </p>
</div>
