<div class="navbar">
    <div class="pure-u" id="nav">
        {{#if controllers.application.user.name}}
            <div class="nav-inner">
                <div class="pure-menu pure-menu-open">
                    <ul>
                        <li>
                            {{#link-to "tasks"}}Pending{{/link-to}}
                        </li>
                    </ul>
                    <ul>
                        <li>
                            {{#link-to "synchronization"}}Synchronization{{/link-to}}
                        </li>
                    </ul>
                    <ul>
                        <li>
                            {{#link-to "api_access"}}API Access{{/link-to}}
                        </li>
                    </ul>
                    <ul>
                        <li>
                            {{#link-to "configure"}}Configuration{{/link-to}}
                        </li>
                    </ul>
                </div>
            </div>
            <button class="pure-button primary-button" {{action "logout"}}>Log Out</button>
        {{else}}
            <button class="pure-button primary-button" {{action "login"}}>Log In with<br/>Google</button>
        {{/if}}
    </div>
</div>
