<div class="navbar">
    <div class="pure-u" id="nav">
        {{#if controllers.application.user.name}}
            <div class="nav-inner">
                <div class="pure-menu pure-menu-open">
                    <ul>
                        <li class="pure-menu-heading">Tasks {{#link-to "refresh" class="post-icon"}}<i class="fa fa-refresh"></i>{{/link-to}}</li>
                        <li>
                            {{#link-to "tasks"}}Pending{{/link-to}}
                        </li>
                        <li class="pure-menu-heading">Tools</li>
                        <li>
                            {{#link-to "synchronization"}}<i class="fa fa-cloud-upload">Sync</i>{{/link-to}}
                        </li>
                        <li>
                            {{#link-to "sms"}}<i class="fa fa-phone">SMS</i>{{/link-to}}
                        </li>
                        <li>
                            {{#link-to "api_access"}}<i class="fa fa-gears">API</i>{{/link-to}}
                        </li>
                        <li>
                            {{#link-to "configure"}}<i class="fa fa-wrench">Settings</i>{{/link-to}}
                        </li>
                    </ul>
                </div>
            </div>
            <button class="pure-button primary-button" {{action "logout"}}>Log Out</button>
        {{else}}
            <button class="pure-button primary-button" {{action "login"}}>Log In with<br/>Google</button>
        {{/if}}
    </div>
</div>
