<div class="pure-u-1 standalone">
    <h2>SMS Integration</h2>

    <table class="pure-table pure-table-horizontal">
        <tr>
            <th>
                Twilio Messaging Request URL <strong>(POST)</strong>
            </th>
            <td>
                https://inthe.am{{ controllers.application.urls.sms_url }}
            </td>
        </tr>
    </table>

    <h3>Setup Instructions</h3>

    <p>
        Inthe.am can receive and add items to your task list via SMS, but
        it requires a little bit of configuration on your part.
    </p>
    <ol>
        <li>Sign up for a <a href="https://www.twilio.com/try-twilio">Twilio account</a>.</li>
        <li>
            Add funds to your twilio account. As of the time of writing,  Twilio charges
            around $0.01 for each incoming or outgoing SMS message (incoming messages are slightly cheaper),
            and each phone number costs $1.00/month.
        </li>
        <li>
            <a href="https://www.twilio.com/user/account/phone-numbers/available/local">Buy a phone number</a>.
        </li>
        <li>
            From your phone number's configuration screen, set the field "Messaging Request URL" to
            your personal incoming SMS URL: <span class="code">https://inthe.am{{ controllers.application.urls.sms_url }}</span>.
        </li>
        <li>
            Press save.
        </li>
    </ol>
    <p>
        After you have configured the above, you can send SMS messages to your
        Twilio phone number.  Currently, the only command implemented is 'add',
        but in the future additional commands may be added.
    </p>
    <p>
        As an example, you could add a task to the project "birthday" with a due
        date of tomorrow and high priority by sending an SMS message with the following
        contents:
        <pre>add project:birthday due:tomorrow priority:h It's my birthday</pre>.
    </p>
</div>
