<div class="pure-u-1 standalone">
    <h2>SMS Integration</h2>

    <table class="pure-table pure-table-horizontal">
        <tr>
            <th>
                Twilio Messaging Request URL <strong>(POST)</strong>
            </th>
            <td>
                https://inthe.am{{ controllers.application.urls.sms_url }}
            </td>
        </tr>
    </table>
</div>
