<!DOCTYPE html>{% load staticfiles %}
<html>
  <head>
    <title>Inthe.AM</title>
    <link href="{% static "app.css" %}" rel="stylesheet" media="screen" />
    <link href="{% static "tw_colors.css" %}" rel="stylesheet" media="screen" />
    <link href="{% static "font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "jquery.datetimepicker.css" %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{% static "icon-60.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "icon-76.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "icon-120.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "icon-152.png" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="referrer" content="always">
    <script src="{% static "modernizr.js" %}"></script>
    {% block head_scripts %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script src="{% static "raven.min.js" %}"></script>
    <script type="text/javascript">
      Raven.config(
        'http://9b0ea040d8414b2180548e304cac5018@sentry.adamcoddington.net/2',
        {
          whitelistUrls: [
            /inthe\.am/,
            /127\.0\.0\.1/
          ]
        }
      ).install();
      function reportError(error) {
        if (typeof(error) == 'object') {
          if (error.stack) {
            // this is a native JS error; yay!
          } else if (error.statusText) {
            error = new Error(error.status + " " + error.statusText);
          } else {
            error = new Error(JSON.stringify(error));
          }
        } else if (typeof(error) == 'string') {
          error = new Error(error);
        }
        Raven.captureException(error);
      }
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{% static "jquery.datetimepicker.js" %}"></script>
    <script src="{% static "jquery.mobile.custom.min.js" %}"></script>
    <script src="{% static "moment.min.js" %}"></script>
    <script src="{% static "handlebars-v1.3.0.js" %}"></script>
    {% if DEBUG %}
      <script src="{% static "ember.js" %}"></script>
      <script src="{% static "ember-data.js" %}"></script>
    {% else %}
      <script src="{% static "ember.min.js" %}"></script>
      <script src="{% static "ember-data.min.js" %}"></script>
    {% endif %}
    <script src="{% static "tastypie_adapter.js" %}"></script>
    <script src="{% static "templates.js" %}"></script>
    <script src="{% static "task_manager.js" %}"></script>
    <script src="{% static "foundation.min.js" %}"></script>
  </body>
</html>
