.task-list {
  background-color: #202020;
  color: #DEDEDE; }

.task.active {
  background-color: #131313; }

.task .calendar__today {
  background-color: #5f5fff; }

.task.active .calendar__today {
  background-color: #4545ff; }

.task .footnote {
  color: #375faf; }

.task .history__delete {
  background-color: #37afff; }

.task.active .history__delete {
  background-color: #1ea5ff; }

.task .sync__rejected {
  color: #3737d7; }

.task .summary__background {
  color: #ffffff; }

.task .blocked {
  color: #ffffff;
  background-color: #37375f; }

.task.active .blocked {
  background-color: #2e2e4f; }

.task .calendar__weeknumber {
  color: #375fff; }

.task .sync__added {
  color: #2c2c2c; }

.task .summary__bar {
  color: #ffffff;
  background-color: #3737af; }

.task.active .summary__bar {
  background-color: #31319c; }

.task .sync__changed {
  color: #375fff; }

.task .burndown__started {
  background-color: #375fff; }

.task.active .burndown__started {
  background-color: #1e4bff; }

.task .history__done {
  background-color: #3787ff; }

.task.active .history__done {
  background-color: #1e78ff; }

.task .recurring {
  color: #5f5fff; }

.task .undo__after {
  color: #37afff; }

.task .calendar__holiday {
  background-color: #375faf; }

.task.active .calendar__holiday {
  background-color: #31549c; }

.task .burndown__done {
  background-color: #2c2c2c; }

.task.active .burndown__done {
  background-color: #1f1f1f; }

.task .pri__M {
  color: #3787ff; }

.task .pri__L {
  color: #375fff; }

.task .pri__H {
  color: #37afff; }

.task .active {
  color: #37d7ff;
  background-color: #375fff; }

.task.active .active {
  background-color: #1e4bff; }

.task .undo__before {
  color: #375faf; }

.task .blocking {
  color: #ffffff;
  background-color: #373787; }

.task.active .blocking {
  background-color: #303075; }

.task .burndown__pending {
  background-color: #3737d7; }

.task.active .burndown__pending {
  background-color: #2929cc; }

.task .header {
  color: #375faf; }

.task .history__add {
  background-color: #375fff; }

.task.active .history__add {
  background-color: #1e4bff; }

.task .error {
  color: #375faf; }

.task .debug {
  color: #375faf; }

