.task-list {
	background-color: #202020;
	color: #DEDEDE;
}
.task.active {
	background-color: darken(#202020, 5%);
}
.task .calendar__today {
	background-color: #375faf;
}
.task.active .calendar__today {
	background-color: darken(#375faf, 5%)
}
.task .tagged {
	color: #37af5f;
}
.task .footnote {
}
.task .history__delete {
	background-color: #ffff37;
}
.task.active .history__delete {
	background-color: darken(#ffff37, 5%)
}
.task .sync__rejected {
}
.task .summary__background {
	color: #ffffff;
}
.task .blocked {
	color: #ffffff;
}
.task .due__today {
	color: #d73737;
}
.task .project__none {
}
.task .calendar__weeknumber {
	color: #375faf;
}
.task .sync__added {
	color: #375f37;
}
.task .summary__bar {
	color: #000000;
	background-color: #5fd75f;
}
.task.active .summary__bar {
	background-color: darken(#5fd75f, 5%)
}
.task .sync__changed {
}
.task .alternate {
}
.task .due {
}
.task .burndown__started {
}
.task .calendar__overdue {
}
.task .calendar__weekend {
}
.task .history__done {
	background-color: #37ff37;
}
.task.active .history__done {
	background-color: darken(#37ff37, 5%)
}
.task .recurring {
	color: #375faf;
}
.task .tag__none {
}
.task .undo__after {
}
.task .calendar__holiday {
}
.task .burndown__done {
	background-color: #375f37;
}
.task.active .burndown__done {
	background-color: darken(#375f37, 5%)
}
.task .pri__M {
}
.task .pri__L {
}
.task .pri__H {
}
.task .pri__none {
}
.task .active {
	color: #ffffff;
	background-color: #d75f37;
}
.task.active .active {
	background-color: darken(#d75f37, 5%)
}
.task .undo__before {
}
.task .blocking {
	color: #ffffff;
}
.task .burndown__pending {
}
.task .header {
}
.task .calendar__due__today {
}
.task .calendar__due {
}
.task .history__add {
	background-color: #ff3737;
}
.task.active .history__add {
	background-color: darken(#ff3737, 5%)
}
.task .error {
}
.task .debug {
}
.task .overdue {
}