.task-list {
	background-color: #202020;
	color: #DEDEDE;
}
.task.active {
	background-color: darken(#202020, 5%);
}
.task .calendar__today {
	background-color: #5f37af;
}
.task.active .calendar__today {
	background-color: darken(#5f37af, 5%)
}
.task .tagged {
	color: #afafd7;
}
.task .footnote {
	color: #375faf;
}
.task .history__delete {
	background-color: #af37ff;
}
.task.active .history__delete {
	background-color: darken(#af37ff, 5%)
}
.task .sync__rejected {
	color: #5f37af;
}
.task .summary__background {
	color: #ffffff;
}
.task .blocked {
	color: #ffffff;
	background-color: #5f375f;
}
.task.active .blocked {
	background-color: darken(#5f375f, 5%)
}
.task .due__today {
	color: #ffafaf;
}
.task .project__none {
}
.task .calendar__weeknumber {
	color: #5f37d7;
}
.task .sync__added {
	color: #d2d2d2;
}
.task .summary__bar {
	color: #ffffff;
	background-color: #5f37af;
}
.task.active .summary__bar {
	background-color: darken(#5f37af, 5%)
}
.task .sync__changed {
	color: #875fd7;
}
.task .alternate {
	background-color: #e8e8e8;
}
.task.active .alternate {
	background-color: darken(#e8e8e8, 5%)
}
.task .due {
	color: #37ffff;
}
.task .burndown__started {
	background-color: #875fd7;
}
.task.active .burndown__started {
	background-color: darken(#875fd7, 5%)
}
.task .calendar__overdue {
}
.task .calendar__weekend {
	color: #797979;
	background-color: #dddddd;
}
.task.active .calendar__weekend {
	background-color: darken(#dddddd, 5%)
}
.task .history__done {
	background-color: #8737ff;
}
.task.active .history__done {
	background-color: darken(#8737ff, 5%)
}
.task .recurring {
	color: #5f5fff;
}
.task .tag__none {
}
.task .undo__after {
	color: #af37ff;
}
.task .calendar__holiday {
	background-color: #378787;
}
.task.active .calendar__holiday {
	background-color: darken(#378787, 5%)
}
.task .burndown__done {
	background-color: #d2d2d2;
}
.task.active .burndown__done {
	background-color: darken(#d2d2d2, 5%)
}
.task .pri__M {
	color: #af37d7;
}
.task .pri__L {
	color: #af87ff;
}
.task .pri__H {
	color: #d737d7;
}
.task .pri__none {
}
.task .active {
	color: #d7d7ff;
	background-color: #875faf;
}
.task.active .active {
	background-color: darken(#875faf, 5%)
}
.task .undo__before {
	color: #5f37af;
}
.task .blocking {
	color: #ffffff;
	background-color: #873787;
}
.task.active .blocking {
	background-color: darken(#873787, 5%)
}
.task .burndown__pending {
	background-color: #5f37af;
}
.task.active .burndown__pending {
	background-color: darken(#5f37af, 5%)
}
.task .header {
	color: #375faf;
}
.task .calendar__due__today {
	background-color: #d737d7;
}
.task.active .calendar__due__today {
	background-color: darken(#d737d7, 5%)
}
.task .calendar__due {
	background-color: #af87ff;
}
.task.active .calendar__due {
	background-color: darken(#af87ff, 5%)
}
.task .history__add {
	background-color: #5f37ff;
}
.task.active .history__add {
	background-color: darken(#5f37ff, 5%)
}
.task .error {
	color: #375faf;
}
.task .debug {
	color: #375faf;
}
.task .overdue {
}