.task-list {
	background-color: #DEDEDE;
	color: #202020;
}
.task.active {
	background-color: lighten(#DEDEDE, 5%);
}
.task .calendar__today {
}
.task .tagged {
}
.task .footnote {
}
.task .history__delete {
}
.task .sync__rejected {
}
.task .summary__background {
}
.task .blocked {
}
.task .due__today {
}
.task .project__none {
}
.task .calendar__weeknumber {
}
.task .sync__added {
}
.task .summary__bar {
}
.task .sync__changed {
}
.task .alternate {
	background-color: #ffffff;
}
.task.active .alternate {
	background-color: lighten(#ffffff, 5%)
}
.task .due {
}
.task .burndown__started {
}
.task .calendar__overdue {
}
.task .calendar__weekend {
}
.task .history__done {
}
.task .recurring {
}
.task .tag__none {
}
.task .undo__after {
}
.task .calendar__holiday {
}
.task .burndown__done {
}
.task .pri__M {
	color: #ffff00;
}
.task .pri__L {
	color: #00ffff;
}
.task .pri__H {
	color: #000000;
}
.task .pri__none {
}
.task .active {
	color: #ff0000;
}
.task .undo__before {
}
.task .blocking {
}
.task .burndown__pending {
}
.task .header {
}
.task .calendar__due__today {
}
.task .calendar__due {
}
.task .history__add {
}
.task .error {
}
.task .debug {
}
.task .overdue {
}