<div id="footer">
    <hr />
    Lovingly crafted by <a href="http://github.com/coddingtonbear">Adam Coddington</a> and others.
    Questions?  Ask on <a href="https://gitter.im/coddingtonbear/inthe.am">Gitter</a>.
    <a href="http://github.com/coddingtonbear/inthe.am">Contribute to this project on Github</a>.
</div>
