<div class="row full-width standalone">
    <div class='standalone-content'>
        <h2>{{meta.name}}</h2>
        {{#each task in tasks}}
            <p>TASK: 
                {{task.description}}
            </p>
        {{/each}}
    </div>
</div>
