<div class="row standalone">
    <div class="standalone-content">
        <h2>{{ model.sender.first_name }} {{ model.sender.last_name }} would like you to join the "{{ model.board.name }}" Team Kanban Board</h2>
    </div>
</div>
