<div class="row full-width standalone horizontal">
    <div id="kanban-board" class='standalone-content'>
        <h2>{{meta.name}}</h2>
        <div class="actions">
            <a href="#" {{action "invite_user"}}><i class="fa fa-user-plus">Invite User</i></a>
        </div>
        {{#each column in columns}}
            {{
                kanban-column

                tasks=tasks
                column=column
                allColumns=meta.columns
                currentUser=controllers.application.user.email

                edit_task="edit_task"
                assign_to_me="assign_to_me"
            }}
        {{/each}}
    </div>
</div>
